## Importing pandas

**1.** Import pandas under the name `pd`.

Import արեք pandas մոդուլը `pd` անունով։

In [1]:
import pandas as pd
import numpy as np

**2.** Print the version of pandas that has been imported.

 Տպեք pandas մոդուլի տարբերակը։

In [2]:
pd.__version__

'0.24.2'

## DataFrame basics



Consider the following Python dictionary `data` and Python list `labels`:

In [3]:
import numpy as np



data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**3.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

Ստեղծեք `df` DataFrame `data` dictionary-ից, որի index-ը կլինի `labels` list-ը։

In [4]:
df = pd.DataFrame(data)
df

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

**4.** Return the first 3 rows of the DataFrame `df`.

Տպեք `df` DataFrame-ի առաջին 3 տողերը։

In [5]:
df.head(3)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no

**5.** Select just the `animal` and `age` columns from the DataFrame `df`.

`df` DataFrame-ից ընտրեք միայն `animal` և `age` սյուները։

In [6]:
df = pd.DataFrame(data, columns=['animals','age'])
print(df)

  animals  age
0     NaN  2.5
1     NaN  3.0
2     NaN  0.5
3     NaN  NaN
4     NaN  5.0
5     NaN  2.0
6     NaN  4.5
7     NaN  NaN
8     NaN  7.0
9     NaN  3.0

**6.** Select the data in rows `[3, 4, 8]` and in columns `['animal', 'age']`.

`df`-ից վերցրեք `[3, 4, 8]` տողերում ու `['animal', 'age']` սյուներում գտնվեղ տվյալները։

In [7]:
print(df.loc[df.index[[3,4,8]], ['animal', 'age']])

   animal  age
3     NaN  NaN
4     NaN  5.0
8     NaN  7.0

C:\Users\Anushik\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

**7.** Select only the rows where the number of visits is greater than 3.

Ընտրեք `df` DataFrame-ի այն տողերը, որոնց տվյալների համար visits սյան արժեքը 3-ից մեծ է։

In [8]:
df

  animals  age
0     NaN  2.5
1     NaN  3.0
2     NaN  0.5
3     NaN  NaN
4     NaN  5.0
5     NaN  2.0
6     NaN  4.5
7     NaN  NaN
8     NaN  7.0
9     NaN  3.0

In [9]:
df = pd.DataFrame(data)
df
df[df['visits']>2]

  animal  age  visits priority
1    cat  3.0       3      yes
3    dog  NaN       3      yes
5    cat  2.0       3       no

**8.** Select the rows where the age is missing, i.e. is `NaN`.

Ընտրեք այն տողերը, որոնց տվյալների համար age սյունի արժեքը բացակայում է՝ այսինքն `NaN` է։

In [10]:
df[df['age'].isna() == True]

  animal  age  visits priority
3    dog  NaN       3      yes
7    cat  NaN       1      yes

**9.** Select the rows where the animal is a cat and the age is less than 3.

Ընտրեք այն տողերը, որոնց տվյալների համար animal սյունի արժեքը cat է և age սյունի արժեքը փոքր է 3-ից։

In [16]:
df[df['animal']=='cat']
df[df['age']<3]

  animal  age  visits priority  n
0    cat  2.5       1      yes  1
2  snake  1.5       2       no  1
5    cat  2.0       3       no  1

**10.** Change the age in row 'f' to 1.5.

Փոխարինեք 'f' տողի age սյունի արժեքը 1.5-ով։

In [12]:
 df.loc[df.index[[2]], ['age']] = 1.5

**11.** Add a new column 'n' with all 1s.

Ավելացրեք միայն 1-եր պարունակող 'n' սյունը։

In [13]:
df['n']=1
df

  animal  age  visits priority  n
0    cat  2.5       1      yes  1
1    cat  3.0       3      yes  1
2  snake  1.5       2       no  1
3    dog  NaN       3      yes  1
4    dog  5.0       2       no  1
5    cat  2.0       3       no  1
6  snake  4.5       1       no  1
7    cat  NaN       1      yes  1
8    dog  7.0       2       no  1
9    dog  3.0       1       no  1

**12.** Count the number of each type of animal in `df`.

Հաշվեք `df`-ում տեղ գտած կենդանիների տիպերի քանակը։

In [14]:
x = df['animal'].value_counts()
print(type(x))
x

<class 'pandas.core.series.Series'>

cat      4
dog      4
snake    2
Name: animal, dtype: int64